body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

.bg-img {
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}